{
    "folder_id": "some_folder_id",
    "source_image_family": "ubuntu-1804-lts",
    "service_account_key_file": "packer/files/fake_key.json",
    "subnet_id": "some_subnet_id",
    "zone": "some_zone"
}
